body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    text-align: center;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.tab-content {
    flex-grow: 1;
    display: none;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(145deg, #323234, #1b1b1d);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed; /* Убедимся, что navbar всегда фиксирован в нижней части экрана */
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 200; /* Установим z-index выше, чем у расширенных карточек */
}

.nav-item {
    text-align: center;
    flex-grow: 1;
    transition: background-color 0.3s;
    padding: 10px 5px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 5px;
}

.nav-item:hover, .nav-item.active {
    background-color: rgba(255, 255, 255, 0.1);
}


.icon {
    display: block;
    font-size: 24px;
    margin-bottom: 5px;
}

/* Стиль заголовков и текста для улучшения читаемости */
h2 {
    color: #32D74B;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 16px;
}

p {
    font-size: 16px;
    line-height: 1.4;
}

/* Стиль для активного контента */
.tab-content {
    display: none; /* Скрыть весь контент по умолчанию */
}

.tab-content.active {
    display: block; /* Показать активный контент */
}



/* Стиль для главной страницы */

.home-container {
    color: #fff;
    background-color: #121212;
    padding: 20px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.welcome-section {
    margin-bottom: 20px; /* Меньшее смещение приветственного сообщения */
}

.info-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Две колонки для карточек */
    row-gap: 2px;
    column-gap: 22px;
}

.info-item {
    background-color: #2C2C2E;
    padding: 14px;
    margin: 10px 5%; /* Центрирование карточки с отступами по бокам */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease, box-shadow 0.5s ease, opacity 0.5s ease;
    cursor: pointer;
    transform: scale(1) translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 90%; /* Ширина карточки */
}

.info-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.info-item.expanded {
    transform: translate(-50%, -50%) scale(1.1);
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    width: 80%; /* Уменьшаем ширину для отступов по бокам */
    margin: 0; /* Убираем margin, когда карточка расширяется */
}

.info-item.expanded .info-content {
    opacity: 1;
    display: block;
    max-height: 800px; /* Максимальная высота содержимого */
    padding: 20px;
}

.info-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
    width: 100%;
}

/*.info-item.expanded h2, .info-item.expanded .icon {*/
/*    display: block; !* Убедимся, что заголовок и иконка отображаются при раскрытии *!*/
/*}*/

.info-item.expanded .icon {
    display: none; /* Убедимся, что заголовок и иконка отображаются при раскрытии */
}





.icon {
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
}


/* Существующие стили ... */
.nav-item.active {
    background-color: #444; /* Для активного элемента установить более темный фон */
    color: white;
    border-bottom: 3px solid #32D74B; /* Зеленый индикатор активности */
}


/* --------------   T O N    --------------*/
#ton-content {
    background-color: #121212;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

#ton-content h1 {
    text-align: center;
    color: #32D74B;
    margin-bottom: 30px;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.service-item {
    display: flex;
    align-items: center;
    background-color: #2C2C2E;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.service-icon {
    color: #32D74B; /* Зелёный цвет, ассоциируемый с финансовой выгодой */
    font-size: 40px; /* Большой размер для лучшей видимости */
    margin-right: 20px;
}

.service-info h2 {
    margin-top: 0;
    color: #32D74B;
}

.service-info p, .service-info ul {
    margin: 10px 0;
    font-size: 16px;
}

.service-info ul {
    list-style-type: disc;
    padding-left: 20px;
}

.fa-coins {
    color: #ffd700; /* Золотой цвет для монеты */
    margin-right: 10px;
}
