body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b2e34; /* Цвет фона, соответствующий темной теме Telegram */
    color: #d8d8d8; /* Цвет текста для контрастности */
}

.container {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.7); /* Прозрачный фон для лучшего контраста */
}

h1 {
    font-size: 24px;
    margin: 0 0 20px; /* Убираем отступ снизу */
}

.address {
    font-size: 16px;
    margin: 0 0 20px; /* Убираем отступ снизу */
}

.menu {
    padding: 0; /* Убираем внутренние отступы */
}

.menu-heading {
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.menu-heading i {
    margin-right: 5px;
}

.submenu {
    list-style: none;
    padding: 0;
    display: none;
}

.submenu button {
    background-color: transparent;
    border: none;
    color: #d8d8d8; /* Цвет текста для контрастности */
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.submenu button:hover {
    text-decoration: underline;
}

.submenu button:focus {
    outline: none;
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); /* Размытие фона */
}

.modal {
    background-color: #2b2e34; /* Цвет фона, соответствующий темной теме Telegram */
    color: #d8d8d8; /* Цвет текста для контрастности */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    max-width: 80%;
}

.close {
    color: #ccc;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #d8d8d8; /* Цвет текста для контрастности */
    text-decoration: none;
}

.modal-content {
    text-align: center;
}

.modal-title {
    font-size: 20px;
    margin-top: 0; /* Убираем отступ сверху */
}

.modal-icon {
    font-size: 40px;
    margin-bottom: 10px;
}
